{%  extends "homebase.html" %}

{% block header %}{% include "header.html" %}{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}
    <!-- Page Header Start -->

    <!-- Page Header End -->


    <!-- Shop Start -->
    <div class="container-fluid pt-5">
        <div class="row px-xl-5">






                    <div class="col-sm-12">
                        <div>{{ setting.aboutus }}</div>
                        </div>
                    </div>

            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}