{%  extends "homebase.html" %}

{% block title %} {{setting.title}} {% endblock %}
{% block keywords %}{{  setting.keywords  }}{% endblock %}
{% block description %}{{  setting.description  }}{% endblock %}


{% block head %}
   <link type="image/x-icon" href='{{ setting.icon.url }}' rel="shortcut icon">
 {% endblock %}


{% block header %}{% include "header.html" %}{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}{% include "content.html" %}{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}