{%  extends "homebase.html" %}

{% block title %}İndex sayfası
    {% for setting in settings %}
        {{ setting.title}}{% endfor %}
{% endblock %}
{% block keywords %}İndex sayfası anahtar kelimeler{% endblock %}
{% block description %}İndex sayfası açıklama{% endblock %}





{% block header %}{% include "header.html" %}{% endblock %}
{% block sidebar %}{% include "sidebar.html" %}{% endblock %}
{% block content %}{% include "content.html" %}{% endblock %}
{% block footer %}{% include "footer.html" %}{% endblock %}